<h1>Make a new adventure log!</h1>
<h2>Which character would you like to make an Adventure Log for?</h2>
<ul>
  <% @user.characters.each do |character| %>
    <li><a href="/adventure-logs/new/<%= character.id %>">
      <%= character.name %></a></li>
  <% end %>
</ul>
<p><a href="/characters/new">Make a new character!</a><p>
<p><a href='/adventure-logs'>All Your Adventure Logs</a></p>
<p><a href='/dashboard'>Back to the Dashboard</a></p>