<h1><%= @user.name %>'s Dashboard!</h1>
<h2><a href="/characters">View Your Characters</h2>
<h2><a href='/characters/new'>Make a New Character!</h2>
<h2><a href='/adventure-logs'>View All Your Logs</h2>
<h2><a href='/adventure-logs/new'>Make a New Log!</h2>
<h2><a href='/users/<%= @user.slug %>'>View Your Profile!</h2>
<p><a href='/users/<%= @user.slug %>/edit'>Edit Your Account Information</a></p>
<p><a href='/logout'>Log Out</a></p>