<h1>Sign up for an Adventurer's Log Account!</h1>
<form action="/signup" method="POST">
  <p><strong><label for="email">Email: </label></strong>
  <input type="email" name="email" id="email" placeholder="example@example.com"></p>
  <p><strong><label for="name">Full Name: </label></strong>
  <input type="text" name="name" id="name" placeholder="Firstname Lastname"></p>
  <p><strong><label for="password">Password: </label></strong>
  <input type="password" name="password" id="password"></p>
  <p><strong><label for="dci">DCI (if you have one): </label></strong>
  <input type="text" name="dci" id="dci" placeholder="1234567890"></p>
  <input type="submit" value="Sign Up">
</form>