<h1>Sign up for an Adventurer's Log Account!</h1>
<form action="/signup" method="POST">
  <label for="email">Email: </label>
  <input type="email" name="email" id="email" placeholder="example@example.com">
  <label for="name">Full Name: </label>
  <input type="text" name="name" id="name" placeholder="Firstname Lastname">
  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
  <label for="dci">DCI (if you have one): </label>
  <input type="text" name="dci" id="dci" placeholder="1234567890">
  <input type="submit" value="Sign Up">
</form>